.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
}
.introductionContainer {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}
.introduction-content {
  padding: 5em 0;
  margin: 0 auto;
  width: 500px;
}
.introduction-title {
  font-size: 5em;
  font-weight: 600;
  text-align: center;
}
.introduction-text {
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  margin: 2em 0;
}
.introduction-other {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.startButton {
  background-color: var(--primary-red-color);
  border-radius: var(--border-radius);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 1em;
  transition: all .2s ease-in-out;
}
.startButton:hover {
  filter: brightness(.9);
  transform: scale(1.05);
}
.startButton:active {
  transform: scale(.98);
}
@media screen and (min-width: 240px) {
  .introduction-content {
    width: 220px;
  }
  .introduction-title {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 320px) {
  .introduction-content {
    width: 300px;
  }
  .introduction-title {
    font-size: 3em;
  }
}
@media screen and (min-width: 360px) {
  .introduction-content {
    width: 320px;
  }
  .introduction-title {
    font-size: 4em;
  }
}
@media screen and (min-width: 768px) {
  .introduction-content {
    width: 500px;
  }
}